<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
  </div>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    {% if page.comments %}
    {% include JB/comments %}
    {% endif %}
  </div>
 <!--**-->
 <!--recent posts-->
 <div class="span4 sidebar">
    <div class="widget copyright-sec">
      <h3 class="widget-title">Recent Posts</h3>
      <div class="widget-content">
      	<ul>
	 	{% for post in site.posts limit:7 %}
	 	<li><a href = "{{ post.url }}">{{ post.title }}</a></li>
	 	{% endfor %}
	 </ul>
      </div>
    </div>

     <!--recent comments-->
    <div class="widget disqus-comment-sec">
      <h3 class="widget-title">Recent Comments</h3>
      <div class="widget-content">
      	  <script type="text/javascript"
                src="http://fish267.disqus.com/recent_comments_widget.js?num_items=6&hide_avatars=0&avatar_size=32&excerpt_length=30"></script>
      </div>
    </div>

    <!--recent books -->
    <div class="widget copyright-sec">
      <h3 class="widget-title">Recent Books</h3>
      <div class="widget-content">
	 	<script type="text/javascript" src="http://www.douban.com/service/badge/fsh267/?selection=latest&amp;picsize=small&amp;hideself=on&amp;show=collection&amp;n=4&amp;hidelogo=on&amp;cat=book&amp;columns=4"></script>
      </div>
    </div>
   
<!--Quotes -->
    <div class="widget copyright-sec">
      <h3 class="widget-title">Quotes</h3>
      <div class="widget-content">
	 <script src="//www.gmodules.com/ig/ifr?url=http://quotes4all.net/quotes.xml&amp;up_quote_color=000000&amp;up_quote_background=ffffff&amp;up_quote_align=left&amp;up_quote_font=arial&amp;up_quote_fontsize=12&amp;up_quote_fontstyle=bold&amp;up_image=right&amp;up_author_color=0000FF&amp;up_author_align=left&amp;up_author_font=arial&amp;up_author_fontsize=10&amp;up_author_fontstyle=plain&amp;synd=open&amp;w=320&amp;h=150&amp;title=Quotes+-+quotes4all.net&amp;border=%23ffffff%7C0px%2C1px+solid+%23595959%7C0px%2C1px+solid+%23797979%7C0px%2C2px+solid+%23898989&amp;output=js"></script>
	</div>
    </div>
  </div>
  
</div>
