<div class="page-header-wrapper">
	<div class="page-header">
  		<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
      <div id="google-search" class="pull-right">
        <script>
          (function() {
            var cx = '007410329586006165998:64x9itm7vgg';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
      </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    {% if page.comments %}
      {% include JB/comments %}
    {% endif %}
  </div>
 <!--**-->
 <!--recent posts-->
 <div class="span4 sidebar">
    <div class="widget copyright-sec">
      <h3 class="widget-title">Recent Posts</h3>
      <div class="widget-content">
      	<ul>
	 	{% for post in site.posts limit:7 %}
	 	<li><a href = "{{ post.url }}">{{ post.title }}</a></li>
	 	{% endfor %}
	 </ul>
      </div>
    </div>

     <!--recent comments-->
    <div class="widget disqus-comment-sec">
      <h3 class="widget-title">Recent Comments</h3>
      <div class="widget-content">
      	  <script type="text/javascript"
                src="http://fish267.disqus.com/recent_comments_widget.js?num_items=6&hide_avatars=0&avatar_size=32&excerpt_length=30"></script>
      </div>
    </div>

    <!--recent books -->
    <div class="widget copyright-sec">
      <h3 class="widget-title">Recent Books</h3>
      <div class="widget-content">
	 	<script type="text/javascript" src="http://www.douban.com/service/badge/fsh267/?selection=latest&amp;picsize=small&amp;hideself=on&amp;show=collection&amp;n=4&amp;hidelogo=on&amp;cat=book&amp;columns=4"></script>
      </div>
    </div>
   

  </div>
  
</div>
